            html,
            body {
                margin: 0;
                padding: 0;
                height: 100%;
                font-family: 'IBM Plex Mono', monospace;
                font-weight: 300;
                background-color: rgb(255, 255, 255);
                color: black;
                -webkit-touch-callout: none;
                /* iOS Safari */
                -webkit-user-select: none;
                /* Safari */
                -khtml-user-select: none;
                /* Konqueror HTML */
                -moz-user-select: none;
                /* Old versions of Firefox */
                -ms-user-select: none;
                /* Internet Explorer/Edge */
                user-select: none;
                /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
            }
            
            @media (prefers-color-scheme: dark) {
                body {
                    background-color: #000000;
                    color: rgb(255, 255, 255);
                }
            }
            
            button,
            input,
            select,
            textarea {
                font-family: inherit;
                font-size: 100%;
            }
            
            input[type=search] {
                width: 40%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
            }
            
            input:focus {
                outline: none;
            }
            
            #body {
                margin: auto;
                padding-top: 5%;
                width: 40%;
            }
            
            #footer {
                text-align: center;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
            }
            
            .row {
                display: flex;
            }
            
            .column {
                flex: 50%;
            }
            
            h1 {
                font-weight: 700;
            }
            
            h3 {
                display: inline;
                font-style: italic;
                font-weight: 700;
            }
            
            p {
                font-weight: 300;
            }
            
            a {
                font-weight: 400;
                color: inherit;
                text-decoration: none;
            }
            
            a:hover {
                color: #7400b8;
                font-weight: 600;
            }